@import url('https://fonts.googleapis.com/css?family=Roboto:500');
*
{
    padding: 0;
    margin: 0;
}

body,html
{
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;

}

.showcase
{
    background: url("https://www.itl.cat/pngfile/big/213-2134394_jungle-animals-mural-2-kids-wallpaper-church-ministry.jpg") center center/cover no-repeat;
}

.navbar-brand img
{
    width: 40px;
}
.navbar
{
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem 3rem;
}

.content
{
    min-height: 90.9vh;
    width: 100%;
    color: white;

    display: flex;

}
.left-content
{
    flex: 1;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.right-content
{
    background: rgba(0, 0, 0, 0.3);
    flex: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;

}

.ranger-pic
{
    border-radius: 50%;
    width: 150px;
    margin: 0 auto;
}

.album
{
    margin: auto auto;
}

.btn-add-ranger
{
    margin: 2rem;
}


/* ranger details */
.ranger-details
{
    margin: auto auto;
    color: black;
    padding: 2rem;
}
.ranger-details-prof
{
    text-align: center;
}


/* sigthings */
.sigthings
{
    margin: 2rem auto;
    text-align: center;
}

/*sighting-form*/
.sighting-form
{
    /* text-align: center; */
    /*margin: 2rem auto;*/
}
.sighting-form .card
{
    padding: 2rem;
    color: black;
    text-align: center;
}

/* animals */
.animals-container
{
    display: flex;
    margin: 4rem auto;
}
.animals-left
{
    flex: 2;
}
.animals-right
{
    flex: 1;
}
animals-table
{
    margin: 2rem auto;
}
sighting-form .card
{
    padding: 2rem;
}


/* responsiveness */

@media(max-width: 786px)
{
    .content
    {
        display: flex;
        flex-direction: column;

    }
    .animals-container
    {
        display: flex;
        flex-direction: column;
    }
}
